<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    
</head>
<body>
    <header class="topbar">
        <div class="container topbar_inner">
            <a class="brand" href="{{url_for ('home') }}">Minha Loja</a>

            <nav class="nav">
                <a class="btn btn--primary" href="{{ url_for('add') }}">+ Adicionar</a>

            </nav>
        </div>
    </header>

    <main class="container">
        {# Exibe mensagem "flash" (alertas temporarios do Flask, como erros ou confirmações) #} {% with menssages = get_flashed_messages (with_categories=true) %} {% if messages %}
        <div class="flash-group" role="status" aria-live="polite">
            {% for category, msg in messages %}
            <div class="flash flash--{{ category }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {% endif %} {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <small>
                © todos os diteiros reservados - Farias - CRUD Flask  uc7
            </small>
        </div>
    </footer>
    
</body>
</html>