{% extends "base.html" %}

{% block title %}Produtos - CRUD Flask{% endblock %}

{% block content %}

<h1 class="page-title">Produtos</h1>

<div class="card">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th class="text-right">Preço (R$)</th>
                </tr>
            </thead>
            <tbody>
                {% for p in produtos %}
                <tr>
                    <td>{{ p["id"] }}</td>
                    <td>{{ p["nome"] }}</td>
                    <td class="text-right">{{ '%.2f'|format((p['preco']|float)) }}</td>
                </tr>
                {% else %}

                <tr>
                    <td colspan="3" class="muted">Nenhum produto cadastrado ainda </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}